button {
    font-family: 'Noto Sans Ethiopic', sans-serif;
    color: #0171A3;
    width: 150px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    border-color: #fff;
    font-weight: bold;
    background: #fff;;
    cursor: pointer;
    transition: 00.25s;}

button:hover {
    background-color: #0171A3;
    color:#fff}

.title {
    text-align: center; 
    color:#0171A3; 
    font-family: 'Noto Sans Ethiopic', sans-serif;
    font-weight: 700; 
    font-size: 38px;}
    
#subtitle {
    text-align: center; 
    color: rgba(0, 0, 0, 0.6); 
    font-family: 'Noto Sans Ethiopic', sans-serif;
    font-weight: 200;
    font-size: 24px}

h3 {
    text-align: center;
    font-family: 'Noto Serif Telugu', serif;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
    font-size: 26px;}

h4 {
    text-align: center;
    font-family: 'Noto Serif Telugu', serif;
    color: rgba(0, 0, 0, 0.9);}

