body, html {
    height: 100%;
    margin: 0;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(images/map.jpg);
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.navbar {
    width: 100%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0171A3;
}
.logo {
    width: 250px;
    cursor: pointer;
    transform: translateX(50px);
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    transform: translateX(-50px);
    position: relative;
}
.navbar ul li a {
    font-family: 'Noto Sans Ethiopic', sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #67c4f0;
    position: absolute;
    left: -5%;
    bottom: -5px;
    transition: 0.5s;
}
.navbar ul li:hover:after {
    width: 110%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    font-family: 'Noto Sans Ethiopic', sans-serif;
}
.content h1{
    font-size: 70px;
    margin-top: 20px;
}
.content p {
    font-size: 20px;
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button {
    font-family: 'Noto Sans Ethiopic', sans-serif;
    color: #0171A3;
    width: 150px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    border-color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    background: #ffffff;
    cursor: pointer;
    transition: 00.25s;;

}
button:hover {
    background-color: #0171A3;
    color: #fff;
}

#homevid {
    margin-top: 40px;
}


.title {
    text-align: center; 
    color:rgba(255, 255, 255, 0.85);
    font-family: 'Noto Sans Ethiopic', sans-serif;
    font-weight: 500; 
    font-size: 40px;}

#subtitle {
    text-align: center; 
    color: rgba(255, 255, 255, 0.85); 
    font-family: 'Noto Sans Ethiopic', sans-serif;
    font-weight: 150;
    font-size: 20px;}